$colors: (
  primary: (
    index: hsl(320, 100%, 27%),
    hover: hsl(320, 100%, 37%),
    focus: hsl(320, 81%, 90%)
  ),
  secondary: (
    index: hsl(357, 93%, 28%),
    hover: hsl(357, 76%, 42%)
  )
);