@use 'functions' as *;

%btn {
  cursor: pointer;
  width: 30%;
  height: 2.4rem;
  border-radius: 6px;
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: #ccc !important;
    border-color: #ccc !important;
    cursor: not-allowed;
    color: #000;
  }
}

%input {
  font: inherit;
  border-radius: 4px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  line-height: 1.71;
  &:focus {
    outline: none;
    box-shadow: none;
    background: color(primary-focus);
    border-color: color(primary-hover);
  }
  &:hover {
    border-color: color(primary-hover);
  }
}
