.todo-item {
  margin: 3rem auto;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1.2rem 2rem;
  text-align: center;
  line-height: 1.9rem;
  width: min(30rem, 70rem);

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
    width: 100%;

    .btn {
      cursor: pointer;
      width: 30%;
      border-radius: 6px;
      color: #fff;
      padding: .2rem 1rem;
      font: inherit;
      border: 1px solid #8b005d;
      background: #8b005d;

      &:is(:hover, :active) {
        background-color: #bd1886;
        border-color: #bd1886;
      }
    }

    .btn--alt {
      cursor: pointer;
      width: 30%;
      border-radius: 6px;
      font: inherit;
      color: #000;
      padding: .2rem 1rem;
      border: 1px solid #8a050c;
      background: transparent;

      &:is(:hover, :active) {
        background-color: #bb1921;
        border-color: #bb1921;
        color: #fff;
      }
    }

    :where(.btn, .btn--alt):focus {
      outline: none;
    }
  }

}
