.todo-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: min(30rem, 70rem);
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: 3rem auto;

  & .form-control {
    margin-block: .4rem;
    width: 100%;
    
    & label {
      display: block;
      color: #000;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    & input {
      border-radius: 4px;
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      font: inherit;
      line-height: 1.5rem;
      padding-inline: .25rem;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        background: #fad0ec;
        border-color: #8b005d;
      }
    }
  }

  & .form-actions {
    width: 100%;

    & button {
      width: 100%;
      font: inherit;
      padding: .5rem 1.5rem;
      border: 1px solid #8b005d;
      background: #8b005d;
      color: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
      cursor: pointer;

      &:is(:hover, :focus) {
        outline: none;
        background-color: #bd1886;
        border-color: #bd1886;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
      }
    }
  }
}

